@font-face {
  font-family: 'CoopersTown';
  src: local( 'CoopersTown' ), url( ./assets/fonts/CoopersTown.ttf ) format( truetype );
}

body {
  margin: 0;
  color: white;
  font-family: 'CoopersTown';
}